<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: LightYellow;}
h1   {color: blue;}
p    {color: red;}
</style>
</head>
<body>
<img src="./onl.jpeg" alt="Simply Easy Learning" width="200" height="80">
<h1>ONL Regression</h1>
<hr size="3" noshade>
<table id="ONL" width="80%" cellspacing="0">
<tbody>
<style type="text/css">
table th, table td{
text-align: center;
}
tbody tr:nth-child(even) {
background: #e8e7e1;
}
</style>
<tr>
	<td><a href="ftp://172.22.92.133/"{{RegId.Results}}>Results</a></td>
</tr>
<tr>
        <td><a href="ftp://172.22.92.133/"{{RegId.log}}>log</a></td>
</tr>
</tbody>
</table>
</body>
</html>

